

#container {
  width: 100%;
  height: 80%;
  perspective: 50vw;
  perspective-origin: 50% 0%;
  overflow:hidden;
}

#defaultCanvas0 {
  transform-style: preserve-3d;
  /* added translation here */
  transform: translateZ(-50vmax) rotateX(45deg);
  border-width:2vw;
  border-style:solid;
  opacity:50%;
}

#container > div {
  transform-style: preserve-3d;
  /* added translation here */
  transform: translateZ(-50vmax) rotateX(45deg);
  border-width:4vw;
  border-style:solid;
  border-color:transparent;
  display:none;
  font-size:40px;
}


body {
  margin: 0;
  overflow-x: hidden;
  //background-color:rgb(218, 218, 218);
  background-color:black;
}

#title {
  margin-top:50;
  text-align:center;
  opacity:50%;
}

#title > a {
  font-size:50;
  transform-style: preserve-3d;
  /* added translation here */
  color:rgb(26, 26, 26);
  text-decoration:none;
}


.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
}


#bg-img{
  position:fixed;
  width:100%;
  height:150%;
  bottom:0;
  background-color:transparent;
  z-index:-2;
}

#about_content {
  text-align:justified;
  height:calc(100% - 4vw);
  width:calc(100% - 4vw);
  background-color:transparent;
  position:relative;
}
#about_text_container {
  text-align:center;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

#about_art {
  z-index:-1;
  width:100%;
  min-height:600px;
  opacity:50%;
  top:0;
}

#about_text {
  z-index:1;
  position:absolute;
  top:2%;
  left:0%;
  width: 100%;
  text-align: center;
  height:100%;
  font-size:60px;
  display:initial;
}

#about_text_mobile {
  display:none;
}

@media screen and (max-width: 481px{
  
  #defaultCanvas0 {
    display:none;
  }
  #title {
    display:none;
  }
  
  #container > div {
    transform-style: preserve-3d;
    /* added translation here */
    transform: translateY(80vmax) translateZ(-40vmax) rotateX(45deg);
    border-width:4vw;
    border-style:solid;
    border-color:transparent;
    display:block;
    font-size:40px;
  }
  
  body {
    position:relative;
    overflow:hidden;
  }
  
  #about_text {
    display:none;
  }
  
  #about_text_mobile {
    display:initial;
  }
  #container {
    height:100%;
  }
}

@supports -moz-appearance:none{
  /* Firefox */
  
    
  #defaultCanvas0 {
    display:none;
  }
  #title {
    display:none;
  }
  
  #container > div {
    transform-style: preserve-3d;
    /* added translation here */
    transform: translateY(80vmax) translateZ(-40vmax) rotateX(45deg);
    border-width:4vw;
    border-style:solid;
    border-color:transparent;
    display:block;
    font-size:40px;
  }
  
  body {
    position:relative;
    overflow:hidden;
  }
  
  #about_text {
    display:none;
  }
  
  #about_text_mobile {
    display:initial;
  }
}
