::-webkit-scrollbar{
  display:none;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color:black;
    //background-image:url("img/background-dirty.png");
    line-height: 1;
    color:white;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color:white;
}

/*------------------------------------------*/


@font-face {
    font-family: alsatian;
    src: url(type/alsation-webfont.woff);
}

@font-face {
    font-family: tranzneue;
    src: url(type/Tranz_Neue.otf);
}

@font-face {
    font-family:galactic-gothic;
    src:url(type/galactic-gothic.ttf);
}

@font-face {
    font-family:badger-spine;
    src:url(type/badger-spine.ttf);
}
@font-face {
    font-family:leaflet-gap;
    src:url(type/leaflet-gap.ttf);
}
@font-face {
    font-family:xe-micropolis;
    src:url(type/xe-micropolis.ttf);
}
@font-face {
    font-family:hommage-a-escher;
    src:url(type/hommage-a-escher.ttf);
    -webkit-font-smoothing: antialiased;
	letter-spacing: 0px;
}

@font-face {
    font-family:oxygen-mono;
    src:url(type/Oxygen_Mono/OxygenMono_Regular.ttf);
    -webkit-font-smoothing: antialiased;
	letter-spacing: 0px;
}


/*------------------------------------------*/

#loading { 
    display: block; position: absolute; left: 100px; top: 0; 
}

#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background: url(img/Preloader_6.gif) center no-repeat #000;
}

/*------------------------------------------*/

#header {
	width: 100%;
	height: 13vh;
	/*top: 10.75vh;*/
	position: fixed;
	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	pointer-events: none;
    //background-image:url("img/background-dirty.png");
    background-color:black;
}

#header-links{
	width: calc(100 - 240px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	/*align-items: center;*/
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    position: relative;
    top: 7vh;
    height: 0;
    pointer-events: all;
    min-width:220px;

}
.header-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    width: calc(25vw - 60px);
    /*height: 100%;*/
    height: 40px;
    -webkit-font-smoothing: antialiased;
	letter-spacing: 0px;
    font-size:40pt;
}

.header-item-text{
	/*position: absolute;*/
	height: 40px;
    font-family:hommage-a-escher;
    
}

#title {
    -webkit-font-smoothing: antialiased;
	letter-spacing: 0px;
    font-family:hommage-a-escher;
    font-size:40pt;
    height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    pointer-events: all;
	/*align-items: center;*/
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 240px;
}

#title > a {
	border: 0;
    position: relative;
    top: 7vh;
    height: 0;
}

.header-item-text:hover {
    opacity:.8;
}
#title > a:hover {
    opacity:.8;
}

/*------------------------------------------*/

#sidebar{
	width: calc(100% - 20px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
	position: absolute;
    margin:10px;
/*    border:1px solid rgba(220, 220, 220, .95);*/
    
    height: calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
/*    background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 70, 70));*/
    background-color:black;
    overflow:hidden;
    
    
}

#sidebar-parent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width:100%;
    height:100%;
    
}

#sidebar-outer{
    z-index:4;
	/*height: 100vh;*/
	/*display: none;*/
	
/*    background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 70, 70));*/
    background-color:black;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    
    border:1px solid rgba(220, 220, 220, .95);
    
}

.leftbar {
    position: fixed;
    margin-top: calc(13vh + 5% + 10px);
    margin-left:20px;
    height: calc(87% - 13vh);
    width: 240px;
    min-height:435px;
}

.bottombar {
    position:fixed;
    bottom:10px;
    margin-left:2.5%;
    height: 100px;
    width: 95%;
}


.sidebar-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin: 20px 0px;
    height:5%  
}
.sidebar-item-text{
    width: 198px;
    margin-left:10px;
    text-align: center;
    font-family:monospace;
    cursor:pointer;
    color:white;
    background-color:black;
    font-size:13pt;
}

#sidebar-footer{
    width: 198px;
    margin-left:10px;
    text-align: center;
    font-family:monospace;
    font-size:10pt;
    color:gray;
    position:absolute;
    bottom:10px;
}


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
    background: #d3d3d3; /* Grey background */
    border-radius:1px;
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    outline: none;
    height:1px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius:8.5px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(100, 100, 100));
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    
    border-radius:8.5px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(100, 100, 100));
}

/*
#slider0::-webkit-slider-thumb {
    background: #4CAF50; 
}
#slider0::-moz-range-thumb  {
    background: #4CAF50; 
}

#slider1::-webkit-slider-thumb {
    background: #9624BB; 
}
#slider1::-moz-range-thumb  {
    background: #9624BB; 
}

#slider2::-webkit-slider-thumb {
    background: #122FC9; 
}
#slider2::-moz-range-thumb  {
    background: #122FC9; 
}

#slider3::-webkit-slider-thumb {
    background: #C21413; 
}
#slider3::-moz-range-thumb  {
    background: #C21413; 
}
*/

/*------------------------------------------*/

#main {
    position: absolute;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	overflow: scroll;
    width:100%;
    bottom:20px;
}

#container {
    position:absolute;
    margin-top:calc(13vh + 5%);
    margin-left:260px;
    width: calc(100% - 500px);
    height: calc(90% - 26vh);
    
}

#defaultCanvas0 {
    transform-style: preserve-3d;
    /* added translation here */
    //background-image: linear-gradient(rgb(150, 150, 150), rgb(70, 70, 70));
    border-radius:4px;
    cursor: pointer;
}

.grid {
    display:none;
    padding-top:calc(13vh + 5%);
    width:calc(100% - 260px);
    margin-left: 40px;
}

#store-content {
    display:none;
    padding-top:calc(13vh + 5%);
    text-align:center;
    width: calc(90% - 300px);
    height: calc(87% - 13vh);
}

/*
.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.coming_soon_text {
    font-size:40pt;
}
*/

.grid-item {
    width:300px;
    height:300px;
    position:relative;
    float:left;
    margin:1px;
}

.grid-item-overlay {
    width: 300px;
    height: 300px;
    text-align:center;
    background-color:rgba(0, 0, 0, .75);
    border:7px solid white;
    border-top-right-radius:7px;
    border-bottom-left-radius:6px;
    position:absolute;
    left:0%;
    top:0%;
    opacity:0%;

}

.grid-item-text {
    font-family:hommage-a-escher;
/*    font-weight:bold;*/
    font-size:32pt;
    color:white;
    position:absolute;
    top:37%;
    width:100%;
    
}

.paper-text {
    font-family:monospace;
    font-size:16pt;
    color:white;
    position:absolute;
    width:100%;
    overflow:hidden;
}

.grid-item-overlay:hover {
    opacity:100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.grid-img{
    vertical-align: middle;
    //display:block;
    margin:0 auto;
    max-width:300px;
    max-height:300px;
}


#about-container {
/*    width:500px;*/
    margin-left:260px;
    margin-top: calc(13vh + 5%);
    position:fixed;
    width:calc(100% - 500px);
    height: calc(90% - 26vh);
    text-align:center;
    z-index:2;
    background-color:rgba(0, 0, 0, 0);
    display: table; 
    
}

#about-text > a {
    text-decoration:underline;
}

#about-text {
    color:white;
    font-family:monospace;
    font-size:14pt;
    width: 50%;
    padding-left:25%;
    padding-right:25%;
    height: calc(90% - 26vh);
    display:table-cell;
    vertical-align: middle;
    background-color:rgba(0, 0, 0, 0);
/*
    padding-top:30%;
    padding-bottom:30%;
*/
}

.linktext {
    font-size: 16px;
    font-family:monospace;
}

.linkentry {
    display:block;
    width:100%;
    max-width:668px;
    margin: 0 auto;
    margin-bottom:24px;
    border:1px solid rgba(252, 252, 252, 0.75);
    border-radius:12px;
    padding:12px;
    
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.linkentry:hover {
    box-shadow:0px 0px 15px 3px rgba(255, 255, 255, .3);
    border-color:rgba(255, 255, 255, .9);
    background-color:rgba(10, 10, 10, .5);
}

#links-container {
    height:100%;
    vertical-align:baseline;
    display:block;
    margin:24px;
}

